{% extends "base-pdf.njk" %}

{% block content %}

{% for group in standingGroups %}
<div class="class-block">
  <h3>{{ group.name }}</h3>

  <table>
    <thead>
      <tr>
        <th class="place-cell">Місце</th>
        <th>Команда</th>
        <th class="points-cell">Індивідуальні очки</th>
        <th class="points-cell">Естафетні очки</th>
        <th class="points-cell">Сума</th>
      </tr>
    </thead>
    <tbody>
      {% for standing in group.standings %}
      <tr>
        <td class="place-cell"><strong>{{ standing.place }}</strong></td>
        <td>{{ standing.organisation }}</td>
        <td class="points-cell">{{ standing.individualPoints }}</td>
        <td class="points-cell">{{ standing.relayPoints }}</td>
        <td class="points-cell"><strong>{{ standing.totalPoints }}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}
