{% extends "base-pdf.njk" %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Місце</th>
      <th>Команда</th>
      <th>Індивідуальні очки</th>
      <th>Естафетні очки</th>
      <th>Сума</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in standings %}
    <tr>
      <td><strong>{{ standing.place }}</strong></td>
      <td>{{ standing.organisation }}</td>
      <td>{{ standing.individualPoints }}</td>
      <td>{{ standing.relayPoints }}</td>
      <td><strong>{{ standing.totalPoints }}</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
