{% extends "base-pdf.njk" %}

{% block content %}

{% for class in classes %}
<div class="class-block">
  <h3>{{ class.name }}</h3>

  <table>
    <thead>
      <tr>
        <th>Місце</th>
        <th>Команда</th>
        <th>Заявл. клас</th>
        <th>Учасники</th>
        <th>Регіон</th>
        <th>Разом</th>
        <th>Час</th>
      </tr>
    </thead>
    <tbody>
      {% for team in class.teams %}
      <tr>
        <td><strong>{{ team.place }}</strong></td>
        <td><strong>{{ team.teamName }}</strong></td>
        <td>{{ team.sourceClassName }}</td>
        <td>{{ team.membersLine }}</td>
        <td>{{ team.organisation }}</td>
        <td><strong>{{ team.totalScore }}</strong></td>
        <td>{{ team.formattedTime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}
