{% extends "base-pdf.njk" %}

{% block content %}

{% if standings.length %}
<table>
  <thead>
    <tr>
      <th>Місце</th>
      <th>Команда</th>
      {% for source in sources %}
      <th>{{ source.label }}</th>
      {% endfor %}
      <th>Сума</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in standings %}
    <tr>
      <td><strong>{{ standing.place }}</strong></td>
      <td>{{ standing.organisation }}</td>
      {% for sourcePoint in standing.sourcePoints %}
      <td>{% if sourcePoint.points > 0 %}{{ sourcePoint.points }}{% endif %}</td>
      {% endfor %}
      <td><strong>{{ standing.totalPoints }}</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
