{% extends "base-pdf.njk" %}

{% block content %}

{% for group in standingGroups %}
{% if group.name %}<h3>{{ group.name }}</h3>{% endif %}

{% if group.standings.length %}
<table>
  <thead>
    <tr>
      <th class="place-cell">Місце</th>
      <th>Команда</th>
      {% for source in sources %}
      <th class="points-cell">{{ source.label }}</th>
      {% endfor %}
      <th class="points-cell">Сума</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in group.standings %}
    <tr>
      <td class="place-cell"><strong>{{ standing.place }}</strong></td>
      <td>{{ standing.organisation }}</td>
      {% for sourcePoint in standing.sourcePoints %}
      <td class="points-cell">{% if summaryTeam.showZeroPoints or sourcePoint.points > 0 %}{{ sourcePoint.points }}{% endif %}</td>
      {% endfor %}
      <td class="points-cell"><strong>{{ standing.totalPoints }}</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}

{% endblock %}
